body{
  margin: 0;
  padding:0;
  background-color: #5d759c;
}
.grid{
  display:grid;
  grid-template-columns: 1fr ;
  grid-template-rows:auto;
  grid-template-areas:
  "banner"
  "menu"
  "bio"
  "coverphoto"
  "academics"
  "athletics"
  "asininity"
  "games"
  "projects"

  "footer";
  grid-gap: 10px;
}


.grid a:hover{
  color:red;
}
    .banner{
      background-image:url(images/draw.png);
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      grid-area:banner;
      font-size:50px;
      font-family: sans-serif;
      background-color:white;
      text-align: left;
      letter-spacing: 5px;


    }


      .menu{
        margin-top:10px;
        grid-area:menu;
        text-align: center;
        border-radius: 3px;
        padding: 3px 10px;
        background-color:pink;
        font-size:1.25rem;
        margin-left:auto;
        margin-right:auto;
        max-width: 200px;

      }
      .mencont{
        display:block;
      }



        .subbanner{
          font-size:20px;
          letter-spacing: normal;
        }

    .bio{
      margin-top:15px;
      grid-area:bio;
      background-color: gray;
      margin-left:auto;
      margin-right:auto;
      max-width: 627px;
      text-align:center;
      font-size: 20px;
      border-radius:15px;
      padding:3px
    }

    .coverphoto{
      margin-top:20px;
      grid-area:coverphoto;
      display: grid;
    }
.academics, .athletics, .asininity{
  padding-top:20px;

}
    .academics{
      grid-area:academics;
      display:grid;
      text-align:center;
    }
        .acatit, .athtit, .asstit{
          background-color:red;
          border-radius: 15px;
          font-size:24px;
          margin-left:auto;
          margin-right:auto;
          margin-bottom:auto;
          padding:4px;
        }
        .acatit a:hover, .asstit a:hover, .athtit a:hover{
          color:green !important;
        }

        .acaimg, .athimg, .assimg{
          margin-top:15px;
        }

        .acacont, .athcont, .asscont{
          background-color:#8ca5e6;
          border-radius:10px;
          margin-bottom:0;
          margin-top:15px;
          align-self:center;
          margin-left:auto;
          margin-right:auto;
          max-width:325px;
          font-size:1.25rem;
          line-height: 1.2;

        }
                        .acafade{
                          margin-left:auto;
                          margin-right: auto;
                          position:relative;
                          width:75%;
                        }

                          .acaimg{
                            display:block;
                            width:100%;
                            opacity:1
                          }
                          .acaimgfade{
                            opacity:0;
                            position:absolute;
                            top:50%;
                            left:50%;
                            transform: translate(-50%, -50%);
                          }
                          .astext{
                            background-color: blue !important;

                            padding: 15px 25px;
                            font-size:30px;
                            color:white;
                          }
                          .acafade:hover .acaimg{
                            opacity:0.5;
                          }
                          .acafade:hover .acaimgfade{
                            opacity:1;
                          }
    .athletics{
      grid-area:athletics;
      display:grid;
      text-align: center;
    }
          .athfade{
            margin-left:auto;
            margin-right: auto;
            position:relative;
            width:75%;
          }

            .athimg{
              display:block;
              width:100%;
              opacity:1
            }
            .athimgfade{
              opacity:0;
              position:absolute;
              top:50%;
              left:50%;
              transform: translate(-50%, -50%);
            }
            .astext{
              background-color: blue !important;

              padding: 15px 25px;
              font-size:30px;
              color:white;
            }
            .athfade:hover .athimg{
              opacity:0.5;
            }
            .athfade:hover .athimgfade{
              opacity:1;
      ath}


    .asininity{
      grid-area:asininity;
      display:grid;
      text-align: center;
    }
          .assfade{
            position:relative;
            margin-left:auto;
            margin-right: auto;
            width:85%;
          }

            .assimg{
              display:block;
              width:100%;
              opacity:1
            }
            .assimgfade{
              opacity:0;
              position:absolute;
              top:40%;
              left:50%;
              transform: translate(-50%, -60%);
            }
            .astext{
              background-color: blue !important;

              padding: 15px 25px;
              font-size:30px;
              color:white;
            }
            .assfade:hover .assimg{
              opacity:0.5;
            }
            .assfade:hover .assimgfade{
              opacity:1;
            }

    .projects{
      grid-area:projects;
      background-color:black;
      color:white;


    }

    .games{
      grid-area:games;
      display:grid;
      background-color:pink;


    }

    .footer{
      grid-area:footer;
      text-align:center;
      padding-top:10px;
      padding-bottom:25px;
      font-size:20px;
      background-color: gray;
    }






  @media screen and (min-width: 736px )
  {
    .banner{

        background-image:url(images/draw.png);
        background-size:contain;
        background-position: right;
        background-repeat: no-repeat;
      padding-top:30px;
      padding-bottom:50px;
      letter-spacing:20px;
      font-size:5rem;
      text-align: center;
    }
    .menu{
      background-color:pink;
      font-size:25px;
      position:absolute;
      top:10%;
      left:2%;
      padding:5px;
      border-radius: 3px;
      transform: translate(0%, 0%);
    }
    .mencont{
      position:relative;
      display:none;
      font-size:20px;
    }
    .menu:hover .mencont{
      display:block;
      position: relative;
      line-height: 1.5;
      text-align:left;
    }
    .projects{
      margin-right: 20%;
    }
    .games{
      position:relative;
      left:-40%;
      width:140%;
    }
    .grid{
      display:grid;
      grid-template-columns: 7px 1fr 1fr 1fr 7px;
      grid-template-rows:auto;
      grid-template-areas:
      "banner banner banner banner banner"
      ". bio bio bio ."
      ". coverphoto coverphoto coverphoto . "
      ". academics athletics asininity ."
      ". projects projects games ."
      "footer footer footer footer footer" ;
      grid-gap: 10px;
    }
  }
