body{
  margin:0;
  padding:0;
  background-color: #3d495c;
}

.grid{
  margin-top:1em;
  margin-left:1em;
  margin-right:1em;
  grid-gap:1em;
  grid-template-columns: 10px 1fr 10px ;
  grid-template-rows:auto;
  grid-template-areas:
  ". img1 ."
  ". t1 ."
  ". aftertext ."
  ". t2 ."
  ". t3 ."
  ". t4 .";
}
.grid-sitemap{
  margin-top:1em;
  margin-left:1em;
  margin-right:1em;
  margin-bottom:2em;
  grid-gap:2em;
  grid-template-columns: 10px 1fr 10px ;
  grid-template-rows:auto;
  grid-template-areas:
  ". t1 ."
  ". img1 ."
  ". t2 .";
}

    .img1{
      grid-area:img1;
    }
    .t1{
      grid-area:t1;
    }
    .t2{
      grid-area:t2;
    }
    .t3{
      grid-area:t3;
    }
    .t4{
      grid-area:t4;
      margin-bottom:1em !important;
    }
    .aftertext{
      grid-area:aftertext;
    }



.banner{
  background-image:url(../images/draw.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  grid-area:banner;
  font-size:40px;
  font-family: sans-serif;
  background-color:white;
  text-align: left;
  letter-spacing: 5px;


}


  .menu{
    margin-top:10px;
    grid-area:menu;
    text-align: center;
    border-radius: 3px;
    padding: 3px 10px;
    background-color:pink;
    font-size:1.25rem;
    margin-left:auto;
    margin-right:auto;
    max-width: 200px;

  }
  .mencont{
    display:block;
    }
    .subbanner{
      font-size:20px;
      letter-spacing: normal;
    }


    .footer{
      background-color: gray;
      text-align:center;
      font-size:1.4rem;
      padding-top:1em;
      padding-bottom:1em;
    }
    p {
      background-color:#8ca5e6;
      border-radius:10px;
      padding: 5px 20px;
      font-size:1.25rem;
      max-width: 900px;
      margin-bottom:0.05em;
      margin-left:auto;
      margin-right:auto;
    }

     a:hover{
       color:red;
     }
     .footer a{
       padding: 0.5em;
     }


@media screen and (min-width: 736px )
    {

      .grid{
        display:grid;
        grid-gap:2em;
        grid-template-columns: 10px 1fr 1fr 10px ;
        grid-template-rows:auto;
        grid-template-areas:
        ". img1 img1 ."
        ". t1 t1 ."
        ". aftertext aftertext ."
        ". t2 t2 ."
        ". t3 t3 ."
        ". t4 t4 .";
      }
      
      .grid-sitemap{
        margin-top:1em;
        margin-bottom:2em;
        display:grid;
        grid-gap:2em;
        grid-template-columns: 10px 1fr 1fr 10px ;
        grid-template-rows:auto;
        grid-template-areas:
        ". img1 t1 ."
        ". img1 t1 ."
        ". t2 t2  ."
        ;
      }

      p {
        background-color:#8ca5e6;
        border-radius:10px;
        padding: 5px 20px;
        font-size:1.25rem;
        max-width: 900px;
        margin-bottom:0em;
        margin-top:0em;
        margin-left: 0em;

      }
      .grid-about{
        display:grid;
        grid-gap:2em;
        grid-template-columns: 10px 1fr 1fr 10px ;
        grid-template-rows:auto;
        grid-template-areas:
        ". surf surf ."
        ". t1 t1 ."
        ". aftertext aftertext ."
        ". t2 t2 ."
        ". t3 t3 ."
        ". t4 t4 .";
      }
      .surf{
        grid-area:surf;
        width:60%;
      }

      .banner{

          background-image:url(../images/draw.png);
          background-size:contain;
          background-position: right;
          background-repeat: no-repeat;
        padding-top:10px;
        padding-bottom:20px;
        letter-spacing:20px;
        font-size:5rem;
        text-align: center;
      }
      .menu{
        background-color:pink;
        font-size:25px;
        position:absolute;
        top:6%;
        left:2%;
        padding:5px;
        border-radius: 3px;
        transform: translate(0%, 0%);
      }
      .mencont{
        position:relative;
        display:none;
        font-size:20px;
      }
      .menu:hover .mencont{
        display:block;
        position: relative;
        line-height: 1.5;
        text-align:left;
      }
      .footer{

      }
    }
