body{
  background-color: #b2c2b8;
  color: black;
  font-family: sans-serif;
  font-size: 21px;
  margin-top: 0px; margin-left:0px; margin-right:0px; margin-bottom:0px;
}
.headertop{
  background-color:#50eb8a;
    margin:0px;
    padding:25px;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 26px;
    font-size: 45px;
    font-family: sans-serif;
}
p{
  margin-left:30px;
  margin-right:30px;
  text-align:left;
  font-family:Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;

}
img{
  padding:20px;
}
.left{
  margin:0px;
  float:left;
  width:10%;
  background-color:#a6e0b4;
  height:722.6px;
}
.content{
  float:left;
  margin:0px;
  width:80%;
  margin:0px;
}
.right{
  margin:0px;
  float:right;
  width:10%;
  background-color:#a6e0b4;
  height:722.6px;
}





.footer{
  background-color: gray;
  text-align:center;
  width:200px;
  height:50px;
  position:absolute;
  top:0px;
  left:0px;
  margin-top: 0px;
  font-size:15px;
  line-height: 3.5;
}
